body{
    background-color: black;
}
.greetings_container{
    background-color: blueviolet;
    padding: 10px;
    transition: ease-in 0.25s; 
}
.greetings_container:hover{
    background-color: rgb(226, 43, 43);
    padding: 1px;
    
}
#greetings{
    color: rgb(53, 0, 175);
    font-size: 100px;
    text-align: center;
}